<section class="container d-flex flex-column gap-5 my-5">
  <article class="d-flex flex-column align-items-center justify-content-center gap-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="text-primary small fw-bold">
        <span>Serviços</span>
      </div>
      <!-- TODO Implementar imagem após entrega -->
      <span class="fs-2 fw-bold text-center">Se destaque no mercado</span>
    </div>

    <span class="w-100 text-center" style="max-width: 783px; color: #121212b2">
      Sistema de gestão ideal para sua loja, o MITRYUS é um ERP ajuda na gestão completa das suas operações, facilitando
      e com mais controle de todos seus processos.
    </span>
  </article>

  <article class="d-flex flex-row flex-wrap align-items-center justify-content-center gap-4">
    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Mitryus Web.svg" alt="Mitryus Web" />
      <span class="fs-5 cardTitle">Mitryus Web</span>

      <span class="text-center mx-5"> Gerencie de forma remota todas as informações do seu negócio. </span>
    </div>

    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Mitryus Com.svg" alt="Mitryus Com" />
      <span class="fs-5 cardTitle">Mitryus Com</span>

      <span class="text-center mx-5"> Um sistema de vendas online personalizado para a sua loja. </span>
    </div>

    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Mitryus Publi.svg" alt="Mitryus Publi" />
      <span class="fs-5 cardTitle">Mitryus Publi</span>

      <span class="text-center mx-5"> Estratégias que expandem a sua marca e alcançam mais clientes. </span>
    </div>

    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Omnicash Cashback.svg" alt="Omnicash Cashback" />
      <span class="fs-5 cardTitle">Omnicash Cashback</span>

      <span class="text-center mx-5"> Fidelize seus clientes com dinheiro de volta em novas compras. </span>
    </div>

    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Integrações.svg" alt="Integrações" />
      <span class="fs-5 cardTitle">Integrações</span>

      <span class="text-center mx-5"> Ferramentas de gestão para ter mais controle nos processos da sua loja. </span>
    </div>

    <div
      class="card shadow border-0 rounded-4 d-flex flex-column justify-content-center align-items-center gap-3 col-4"
    >
      <img src="assets/img/Landing page/Suporte Técnico.svg" alt="Suporte Técnico" />
      <span class="fs-5 cardTitle">Suporte Técnico</span>

      <span class="text-center mx-5"> Tenha uma equipe de profissionais para cuidar do seu negócio. </span>
    </div>
  </article>
</section>
