<section class="container d-flex flex-column flex-lg-row align-items-center justify-content-center gap-1 gap-lg-5">
  <article>
    <img class="img-fluid" src="assets\img\mktplaces.png" />
  </article>

  <article class="d-flex flex-column gap-4 text-center text-lg-start w-100" style="max-width: 500px">
    <div class="d-flex flex-column align-items-center align-items-lg-start fw-bold fs-2">
      <span>APAREÇA NOS MAIORES</span>
      <!-- TODO Implementar imagem após entrega -->
      <!-- <img class="lineVector" src="assets\img\Line Vector.png" /> -->
      <span>MARKETPLACES DO BRASIL.</span>
    </div>

    <span>Praticidade, facilidade e visibilidade com a integração nos maiores marketplaces do Brasil.</span>

    <span>Sua marca irá ganhar muito mais destaque e atinge um maior número de clientes.</span>

    <span>Aumente seus resultados e potencialize suas vendas!</span>

    <div>
      <button class="btn btn-primary">Falar com um especialista</button>
    </div>
  </article>
</section>
