<section class="container my-5">
  <article
    class="d-flex flex-column flex-md-row gap-3 align-items-center justify-content-between contact rounded-4 p-4"
  >
    <div class="d-flex flex-column align-items-start">
      <span>Otimize seu tempo e impulsione</span>
      <span>os resultados da sua empresa.</span>
      <span class="text-primary fw-bold">Vem fazer parte dessa equipe!</span>
    </div>

    <div>
      <button class="btn bg-white text-primary rounded-3">Entre em contato</button>
    </div>
  </article>
</section>
