<section class="container my-5">
  <article class="d-flex flex-column align-items-center gap-3">
    <div class="text-center fw-bold fs-2">
      <span>O que os clientes contam</span>
    </div>

    <div class="text-center w-100" style="max-width: 340px">
      <span>Estamos juntos aos nossos clientes no suporte no treinamento e no sucesso de vendas</span>
    </div>

    <ngb-carousel class="carousel-primary w-100">
      <ng-template ngbSlide>
        <div class="d-flex flex-column align-items-center gap-3 mt-2">
          <img class="img" src="assets/img/FeedBack/Loja Atitude.png" alt="Loja Atittude" />

          <div class="fw-bold text-center">
            <span>Dona Maristela</span>
          </div>

          <div class="text-secondary text-center">
            <span>Loja Atittude</span>
          </div>

          <div class="text-secondary text-center custom-mw w-100">
            <span>
              “A Vetor Sistemas, teve um importante papel no desenvolvimento em minha empresa, não sei como consegui
              ficar tanto tempo sem esse sistema, aonde conto com o suporte sempre que preciso, atualizações, e sem
              contar com a loja em tempo real em meu celular, hoje tenho realmente como saber o que acontece em minha
              loja.”
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="d-flex flex-column align-items-center gap-3 mt-2">
          <img class="img" src="assets/img/FeedBack/Mulher de verde.png" alt="Mulher de verde" />

          <div class="fw-bold text-center">
            <span>Dona Maristela</span>
          </div>

          <div class="text-secondary text-center">
            <span>Loja Atittude</span>
          </div>

          <div class="text-secondary text-center custom-mw w-100">
            <span>
              “A Vetor Sistemas, teve um importante papel no desenvolvimento em minha empresa, não sei como consegui
              ficar tanto tempo sem esse sistema, aonde conto com o suporte sempre que preciso, atualizações, e sem
              contar com a loja em tempo real em meu celular, hoje tenho realmente como saber o que acontece em minha
              loja.”
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="d-flex flex-column align-items-center gap-3 mt-2">
          <img class="img" src="assets/img/FeedBack/homem de terno.png" alt="Homem de Terno" />

          <div class="fw-bold text-center">
            <span>Dona Maristela</span>
          </div>

          <div class="text-secondary text-center">
            <span>Loja Atittude</span>
          </div>

          <div class="text-secondary text-center custom-mw w-100">
            <span>
              “A Vetor Sistemas, teve um importante papel no desenvolvimento em minha empresa, não sei como consegui
              ficar tanto tempo sem esse sistema, aonde conto com o suporte sempre que preciso, atualizações, e sem
              contar com a loja em tempo real em meu celular, hoje tenho realmente como saber o que acontece em minha
              loja.”
            </span>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </article>
</section>
