<section class="container my-5">
  <article class="d-flex flex-column align-items-center">
    <div class="fw-bold fs-2">
      <span>Clientes Mitryus</span>
      <!-- TODO Implementar imagem após entrega -->
      <!-- <img src="assets\img\Line Vector.svg" /> -->
    </div>

    <div class="text-center">
      <span>Empresas que performam com&nbsp;</span>
      <span class="fw-bold">nossas soluções</span>
    </div>
  </article>

  <article class="d-flex flex-column gap-4 justify-content-around align-items-center flex-lg-row">
    <img class="img-fluid" src="assets\img\casa-china.png" alt="Casa China" />
    <img class="img-fluid" src="assets\img\binkedo-legal.png" alt="Brinkedo Legal" />
    <img class="img-fluid" src="assets\img\calceleve.png" alt="Calceleve" />
    <img class="img-fluid" src="assets\img\dog-center.png" alt="Dog Center" />
  </article>
</section>
