<section class="footer">
  <article class="container d-flex flex-column flex-md-row align-items-center justify-content-between py-4 gap-5">
    <div class="d-flex flex-column align-items-center align-items-md-start">
      <img src="assets\img\logo_vetor_branco.svg" alt="Vetor Sistemas" height="75px" />

      <div class="text-center text-md-start w-100" style="max-width: 308px">
        <span>
          Domínio e garantia no desenvolvimento de softwares para a área da Automação Comercial e Gestão Empresarial.
        </span>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start gap-3">
      <div class="d-flex gap-3">
        <fa-icon class="fs-5" [icon]="icons.email"></fa-icon>
        <span>vetor@atendimento.com</span>
      </div>

      <div class="d-flex gap-3">
        <img class="fs-5" src="assets/img/phone.svg" alt="Fone" />
        <span>(41) 3094-5480</span>
      </div>

      <div class="d-flex gap-4">
        <a href="#" class="nav-link">
          <fa-icon class="fs-5" [icon]="icons.facebook"></fa-icon>
        </a>

        <a href="#" class="nav-link">
          <fa-icon class="fs-5" [icon]="icons.instagram"></fa-icon>
        </a>

        <a href="#" class="nav-link">
          <fa-icon class="fs-5" [icon]="icons.linkedin"></fa-icon>
        </a>
      </div>
    </div>
  </article>

  <hr class="container solid" />

  <article class="container d-flex flex-column flex-lg-row justify-content-between align-items-center py-4 gap-3">
    <div class="d-none d-sm-flex gap-3">
      <a href="#" class="nav-link">HOME</a>
      <a href="#" class="nav-link">Sobre</a>
      <a href="#" class="nav-link">Soluções</a>
      <a href="#" class="nav-link">Suporte</a>
      <a href="#" class="nav-link">Contato</a>
    </div>

    <span class="text-center" style="color: #ffffff99">
      &copy; Vetor Sistemas - {{ currentYear }}. Todos os direitos reservados.
    </span>
  </article>
</section>
