<section class="container my-5">
  <article class="text-center mb-5">
    <span class="fs-2">
      Tecnologia e gestão para
      <span class="fw-bold">todo o país</span>
    </span>
  </article>

  <article class="d-flex flex-row flex-wrap justify-content-around align-items-start gap-2 gap-sm-4">
    <div class="about d-flex flex-column justify-content-center align-items-center gap-1 col-3 w-100">
      <span class="text-primary fs-1 fw-bold">+{{ about.yearsOfHistory }}</span>
      <span class="about-description w-100 text-center">Anos de história</span>
    </div>

    <div class="about d-flex flex-column justify-content-center align-items-center gap-1 col-3 w-100">
      <span class="text-primary fs-1 fw-bold">{{ about.clients }}</span>
      <span class="about-description w-100 text-center">Clientes</span>
    </div>

    <div class="about d-flex flex-column justify-content-center align-items-center gap-1 col-3 w-100">
      <span class="text-primary fs-1 fw-bold">{{ about.brazilStates }}</span>
      <span class="about-description w-100 text-center">Estados do Brasil</span>
    </div>

    <div class="about d-flex flex-column justify-content-center align-items-center gap-1 col-3 w-100">
      <span class="text-primary fs-1 fw-bold">{{ about.goal }}</span>
      <span class="about-description w-100 text-center">Objetivo, fazer sua empresa vender</span>
    </div>
  </article>
</section>
