<section class="d-flex flex-column gap-1">
  <article #jumbotrom>
    <vt-jumbotrom></vt-jumbotrom>
  </article>

  <article #about>
    <vt-about></vt-about>
  </article>

  <article #services>
    <vt-services></vt-services>
  </article>

  <article #marketplaces>
    <vt-marketplaces></vt-marketplaces>
  </article>

  <article #differencial class="differentials">
    <vt-differentials></vt-differentials>
  </article>

  <article #clients>
    <vt-clients></vt-clients>
  </article>

  <article #aboutSystem class="about-system">
    <vt-about-system></vt-about-system>
  </article>

  <article #feedback>
    <vt-feedback></vt-feedback>
  </article>

  <article #contact>
    <vt-contact></vt-contact>
  </article>
</section>
