<section class="container d-flex flex-column align-items-center text-white my-5">
  <article class="d-flex flex-column align-items-center text-center">
    <img class="img-fluid" src="assets\img\tela-e-celular-vetor.png" alt="Tela e Celular com Aplicativo da Vetor" />

    <div class="fw-bold w-100 fs-3" style="max-width: 465px">
      <span>Mais do que um sistema de gestão, um aliado na hora de aumentar o seu faturamento.</span>
    </div>

    <div class="w-100 fs-5 m-4" style="max-width: 750px">
      <span>
        O Mitryus é um sistema que te permite ter o controle total da gestão operacional e financeiro do seu negócio,
        com ele você descomplica os processos internos.
      </span>
    </div>
  </article>

  <article class="d-flex flex-column flex-sm-row flex-wrap justify-content-center align-items-center gap-5 w-100 mt-5">
    <div class="d-flex align-items-center gap-3">
      <img
        class="img-fluid about-service-icon"
        src="assets\img\Landing page\emissao de notas.svg"
        alt="Emissão de Notas"
      />

      <div class="w-100 about-service-icon-text text-start small">
        <span>Emissão de notas fiscais</span>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img
        class="img-fluid about-service-icon"
        src="assets\img\Landing page\sistema-integrado.svg"
        alt="Sistema Integrado"
      />

      <div class="w-100 about-service-icon-text text-start small">
        <span>Dados integrados entre matriz e filiais</span>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img
        class="img-fluid about-service-icon"
        src="assets\img\Landing page\controle total compra.svg"
        alt="Controle Total de Compras"
      />

      <div class="w-100 about-service-icon-text text-start small">
        <span>Controle total de compras</span>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img
        class="img-fluid about-service-icon"
        src="assets\img\Landing page\analise e organização de estoque.svg"
        alt="Análise e Organização de Estoque"
      />

      <div class="w-100 about-service-icon-text text-start small">
        <span>Análise e organização de estoque</span>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <img
        class="img-fluid about-service-icon"
        src="assets\img\Landing page\Controle remoto.svg"
        alt="Controle Remoto"
      />

      <div class="w-100 about-service-icon-text text-start small">
        <span>Controle Remoto</span>
      </div>
    </div>
  </article>
</section>
