<section class="container d-flex flex-column flex-lg-row align-items-center justify-content-center gap-1 gap-lg-5 my-5">
  <article class="d-flex flex-column gap-4 text-center text-lg-start w-100" style="max-width: 500px">
    <div class="d-flex justify-content-center align-items-center fs-2">
      <span>
        O que nos torna
        <span class="fw-bold">únicos</span>
      </span>
    </div>

    <div class="d-lg-flex flex-lg-row gap-5">
      <div class="d-flex flex-column">
        <span class="text-primary custom-fs fw-bold mb-4 mb-lg-0">01</span>

        <div class="linha-vertical d-none d-lg-block"></div>
      </div>

      <div class="d-flex flex-column">
        <span class="text-primary fw-bold">Sincronização de dados em tempo real:</span>

        <span>
          Tenha informações on-line de todo movimento que ocorra em sua loja, podendo visualizar no seu celular.
        </span>
      </div>
    </div>

    <div class="d-lg-flex flex-lg-row gap-5">
      <div class="d-flex flex-column">
        <span class="text-primary custom-fs fw-bold mb-4 mb-lg-0">02</span>

        <div class="linha-vertical d-none d-lg-block"></div>
      </div>

      <div>
        <span>
          Plataforma descomplicada e intuitiva facilitando o uso do
          <span class="text-primary fw-bold">sistema MITRYUS.</span>
        </span>
      </div>
    </div>

    <div class="d-lg-flex flex-lg-row gap-5">
      <div class="d-flex flex-column">
        <span class="text-primary custom-fs fw-bold mb-4 mb-lg-0">03</span>

        <div class="linha-vertical d-none d-lg-block"></div>
      </div>

      <div>
        <span>
          <span class="text-primary fw-bold">Sistema que opera offline,</span>
          assim você não perde suas vendas.
        </span>
      </div>
    </div>

    <div class="d-lg-flex flex-lg-row gap-5">
      <div class="d-flex flex-column">
        <span class="text-primary fw-bold custom-fs mb-4 mb-lg-0">04</span>
      </div>

      <div>
        <span>
          Com o VETOR APP você consegue
          <span class="text-primary fw-bold">vender por tablets ou celulares</span>
          e muitas outras facilidades.
        </span>
      </div>
    </div>
  </article>

  <article>
    <img
      class="img-fluid d-none d-lg-block"
      src="assets\img\Diferenciais\men at the computer.png"
      alt="Homens no computador"
    />
  </article>
</section>
